<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 mb-3">
              <h5>Data Science</h5>
              <ul class="list-unstyled">
                  <li><a href="https://github.com/lltotti" class="text-white"><i class="fab fa-github"></i> lltotti</a></li>
              </ul>
          </div>
          <div class="col-lg-4 mb-3">
              <h5>Front End</h5>
              <ul class="list-unstyled">
                  <li><a href="https://github.com/JcAmela" class="text-white"><i class="fab fa-github"></i> JcAmela</a></li>
                  <li><a href="https://github.com/valerioprds" class="text-white"><i class="fab fa-github"></i> valerioprds</a></li>
                  <li><a href="https://github.com/laradelrio" class="text-white"><i class="fab fa-github"></i> laradelrio</a></li>
              </ul>
          </div>
          <div class="col-lg-4 mb-3">
              <h5>Backend</h5>
              <ul class="list-unstyled">
                  <li><a href="https://github.com/guillermosg28" class="text-white"><i class="fab fa-github"></i> guillermosg28</a></li>
                  <li><a href="https://github.com/perseo1326" class="text-white"><i class="fab fa-github"></i> perseo1326</a></li>
                  <li><a href="https://github.com/IngridAlvarezAlonso" class="text-white"><i class="fab fa-github"></i> IngridAlvarezAlonso</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
