footer {
  background-color: #343a40; /* o cualquier otro color que coincida con tu cabecera */
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
  transition: color 0.3s ease;
}

footer a:hover {
  color: red; /* Un color que destaque y coincida con tu esquema */
}

footer i {
  margin-right: 8px;
}

footer h5 {
  color: #fff;
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  footer .col-lg-4 {
      margin-bottom: 20px;
  }
}
