<div class="row">
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
        <img src="../../assets/main-image-home.png" alt="save Water"
            style="border-radius: 23px; width: 350px">
    </div>
    <div class="col-lg-4 align-self-center ps-2">
        <div class="main-info header-text">
            <span class="pink-btn">Medioambiente</span>
            <h4>Ayuda la Sequía</h4>
            <p> Domina tu consumo de agua con nuestra web, reduce la sequía y forja un
                futuro sostenible.</p>
            <div class="main-border-button mt-3">
                <a href="#">Login</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 align-self-center">
        <ul>
            <li style="color: #DF608C; font-weight: bold;"> <span>Causas del Gasto del Agua</span></li>
            <li>Reduce el tiempo de ducha <span><i class="fa-solid fa-shower ps-3"></i></span>
            </li>
            <li> Regula del número de lavadoras<span><i
                        class="fa-solid fa-jug-detergent ps-3"></i></span></li>
            <li> Controla el uso del baño <span><i class="fa-solid fa-toilet ps-3"></i></span>
            </li>
        </ul>
    </div>
</div>