<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo"> AGUA </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->

          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a *ngIf="!loginClicked" (click)="goToLogin()"
                >Login <img src="assets/images/profile-header.jpg" alt=""
              /></a>

              <!--  logout() {
        this.accountService.logout();
    } -->
            </li>
          </ul>

          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
