<app-navbar></app-navbar>

<div class="container my-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- Banner Section -->
        <div class="row mb-4">
          <div class="col-12">
            <app-home-start-banner></app-home-start-banner>
          </div>
        </div>

        <!-- Games and Washing Machine Section -->
        <div class="row mb-4 justify-content-center">
          <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
            <div class="card h-100 shadow-sm card-fixed-size" style="background-color: #1F2122;">
              <div class="card-body text-center">
                <app-game-shower></app-game-shower>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
            <div class="card h-100 shadow-sm card-fixed-size" style="background-color: #1F2122;">
              <div class="card-body">
                <app-washing-machine></app-washing-machine>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
            <div class="card h-100 shadow-sm card-fixed-size" style="background-color: #1F2122;">
              <div class="card-body">
                <app-click-toiled></app-click-toiled>
              </div>
            </div>
          </div>
        </div>

        <div>
          <app-status-progress-bar class="w-100"></app-status-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
