<app-navbar></app-navbar>

<div class="container my-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- Banner Section -->
        <div class="row mb-4">
          <div class="col-12">
            <app-home-start-banner></app-home-start-banner>
          </div>
        </div>

        <!-- Progress Bars Section -->
        <div class="row mb-4">
          <div class="col-lg-6 col-md-6 mb-4 d-flex">
            <div class="card h-100 shadow-sm">
              <div class="card-body align-items-center justify-content-center">

                <app-water-progress-bar></app-water-progress-bar>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Progreso Financiero</h5>
                <app-money-progress-bar></app-money-progress-bar>
              </div>
            </div>
          </div>
        </div>

        <!-- Games and Washing Machine Section -->
        <div class="row mb-4">
          <div class="col-lg-4 col-md-6 mb-4" >
            <div class="card h-100 shadow-sm" style="background-color: #444;">
              <div class="card-body text-center " >
                <h5 class="card-title ">Juego de la Ducha</h5>
                <app-game-shower ></app-game-shower>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Lavadora</h5>
                <app-washing-machine></app-washing-machine>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Estado General</h5>
                <p>Juan carlos</p>

              </div>
            </div>
          </div>
        </div>
        <div >
          <app-status-progress-bar class="w-100"></app-status-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
